<h1> {{ action }} atleta</h1>

<form method="post">
  {% csrf_token %}
  <div>
    <label>Profissão:</label>
    <input name= "title" value= "{{tenista.title}}">
  </div>

  <div>
    <label>Nome:</label>
    <input name= "nome" value= "{{tenista.nome}}">
  </div>

  <div>
    <label>Gênero:</label>
    <input name= "genero" value= "{{tenista.genero}}">
  </div>

  <div>
    <label>Patrocínio:</label>
    <input name= "patrocinio" value= "{{tenista.patrocinio}}">
  </div>

  <input type="submit" value="Registrar">
</form>
